{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="brad-cam" style="background-image: url({% static 'img/brad-cam-img/brad-cam.png' %});">
    <div class="brad-cam-img" data-aos="fade-up">
        <img src="{% static 'img/brad-cam-img/iphone/iphone.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="brad-cam-area">
                    <h1>ATOMIC - MINE ON ATOMIC</h1>
                    <h2>No Fee Bitcoin Mining</h2>
                    <h3>Enjoy a New Mining Experience</h3>
                    <a href="" class="btn">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brad-cam area end -->
<!-- atomic-area -->
<div class="atomic-area">
    <div class="atomic-bg">
        <img src="{% static 'img/atomic/atomic-bg.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="atomic-title text-center">
                    <h1>WHY MINE <span>ON ATOMIC?</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="atomic-item text-center" data-aos="fade-up" data-aos-duration="800">
                    <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/wp-1.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="atomic-item text-center" data-aos="fade-up" data-aos-duration="1100">
                    <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/hand.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="atomic-item text-center" data-aos="fade-up" data-aos-duration="1400">
                    <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/w-2.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="atomic-item text-center" data-aos="fade-up" data-aos-duration="1700">
                    <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/w-3.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up"  data-aos-duration="2000">
                <div class="atomic-item text-center">
                    <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/w-4.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="atomic-item text-center" data-aos="fade-up" data-aos-duration="2300">
                   <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/w-5.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="atomic-item text-center" data-aos="fade-up" data-aos-duration="2600">
                    <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/w-6.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="atomic-item text-center" data-aos="fade-up" data-aos-duration="2900">
                    <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/w-7.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="atomic-item text-center" data-aos="fade-up" data-aos-duration="3000">
                    <div class="atomic-icon">
                       <div class="at-icon-inner">
                           <span class="at-icon"><img src="{% static 'img/w-8.png' %}" alt=""></span>
                       </div>
                    </div>
                    <div class="atomic-text">
                        <h4>FREE TO MINE</h4>
                        <p>Lorem ipsum dolor sit amet, tetur adipiscing elit. Vestibulum sed etra mauris. Curabitur entum pharetras at Morbi mi tortor.</p>
                        <a href="" class="btn"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- atomic-area end -->


<!-- crypto-area -->
<div class="crypto-area" style="background-image: url({% static 'img/crypto-img/crypto-bg.png' %});">
    <div class="crypto-bg-img">
        <img src="{% static 'img/crypto-img/crypto-bg-img.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="crypto-title text-center">
                    <h1>Crypto We <span>Are Mining</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="crypto-button">
                    <a href="#" class="btn">MINING POOLS<i class="fas fa-arrow-right"></i></a>
                    <a href="#" class="btn">HASH MARKET<i class="fas fa-arrow-right"></i></a>
                    <a href="#" class="btn">STAKING POOLS<i class="fas fa-arrow-right"></i></a>
                    <a href="#" class="btn">STATISTICS<i class="fas fa-arrow-right"></i></a>
                    <a href="#" class="btn">SIGN UP/SIGN IN<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="crypto-icon">
                    <div class="row">
                        <div class="col-xl-6">
                            <img src="{% static 'img/crypto-img/crypto-icon/bit1.png' %}" alt="">
                            <img src="{% static 'img/crypto-img/crypto-icon/3.png' %}" alt="">
                            <img src="{% static 'img/crypto-img/crypto-icon/5.png' %}" alt="">
                            <img src="{% static 'img/crypto-img/crypto-icon/7.png' %}" alt="">
                        </div>
                        <div class="col-xl-6">
                            <img src="{% static 'img/crypto-img/crypto-icon/2.png' %}" alt="">
                            <img src="{% static 'img/crypto-img/crypto-icon/4.png' %}" alt="">
                            <img src="{% static 'img/crypto-img/crypto-icon/6.png' %}" alt="">
                            <img src="{% static 'img/crypto-img/crypto-icon/8.png' %}" alt="">
                        </div>
                        <div class="col-xl-12 text-center">
                            <img src="{% static 'img/crypto-img/crypto-icon/9.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- crypto-area end -->
{% endblock %}