{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    <div class="site-inner-wrap">
        <div class="action">
            <div class="action-wrap">
                <div class="container-fluid">
                    <div class="action-popup">
                        <div class="action-left">
                            <h3>Welcome, <span>Paul!</span></h3>
                            <p>Please verify your profile to exchange without any limites</p>
                        </div>
                        <div class="action-right">
                            <span class="action-verify"><img src="assets/img/profile-icon.png" alt="profile icon"/>verify profile</span>
                            <span class="profile-cl"><img src="assets/img/profile-cl.png" alt="icon"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="feature-wrap">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="feature-box">
                                <div class="feature-logo"><img src="assets/img/feature-icon1.png" alt="icon"/></div>
                                <div class="feature-content"><h4>Mining Pool</h4>
                                    <p>Get Bitcoin</p></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="feature-box">
                                <div class="feature-logo"><img src="assets/img/feature-icon2.png" alt="icon"/></div>
                                <div class="feature-content"><h4>Mining Pool</h4>
                                    <p>Get Bitcoin</p></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="feature-box">
                                <div class="feature-logo"><img src="assets/img/feature-icon3.png" alt="icon"/></div>
                                <div class="feature-content"><h4>Mining Pool</h4>
                                    <p>Get Bitcoin</p></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="feature-box">
                                <div class="feature-logo"><img src="assets/img/feature-icon4.png" alt="icon"/></div>
                                <div class="feature-content"><h4>Mining Pool</h4>
                                    <p>Get Bitcoin</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="block-wrap">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="block-rate">
                                <div class="block-top">
                                    <div class="top-title">
                                        <h4>My Hashrate</h4>
                                    </div>
                                    <div class="top-right">
                                        <nav>
                                            <ul class="option-control">
                                                <li><span class="btn btn1">11:00 / 20.02.2020</span></li>
                                                <li><span class="btn btn1"><p class="arr-lt"><i
                                                        class="fas fa-chevron-left"></i></p><p class="arr-rt"><i
                                                        class="fas fa-chevron-right"></i></p></span></li>
                                                <li><span class="btn btn2"><p class="arr-lt"><i
                                                        class="fas fa-angle-up"></i></p><p class="arr-rt"><i
                                                        class="fas fa-angle-down"></i></p></span></li>
                                                <li><span class="btn btn3">#</span></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="block-img"><img src="assets/img/rate-img.png" alt=""/></div>
                                <div class="block-list">
                                    <nav>
                                        <ul class="list-menu">
                                            <li>Left asix: Effective has rate, Scoring Hash Rate.</li>
                                            <li>Right axis: Active wrokers.</li>
                                            <li>Vertical lines represent block found by the pool. They are labeled with
                                                #block numbers.
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="block-reword">
                                <div class="top-title"><h4>My Rewards</h4></div>
                                <div class="reword-menu">

                                    <div class="reword-menus">
                                        <div class="menus-row">
                                            <div class="menus menus1 mr-2"><h5>0.01976075 <span>BTC</span></h5>
                                                <p>Confirmed Reward</p></div>
                                            <div class="menus menus2 ml-2"><h5>0.00508342 <span>BTC</span></h5>
                                                <p>Unconfirmed Reward</p></div>
                                        </div>
                                        <div class="menus-row">
                                            <div class="menus menus3 mr-2"><h5>0.01976075 <span>BTC</span></h5>
                                                <p>All Time Reward</p></div>
                                            <div class="menus menus4 ml-2"><h5>1 Day 10 Hours</h5>
                                                <p>Last Payout</p></div>
                                        </div>
                                        <div class="reword-progress">
                                            <div class="progress">
                                                <div class="progress-bar ani-ease-in-out" role="progressbar"
                                                     style="width: 10%;" aria-valuenow="70" aria-valuemin="0"
                                                     aria-valuemax="100"><span class="progress-span">90%</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <nav>
                                        <ul class="reword-list">
                                            <li><p>Payout Threshold</p><span>0.0250000 BTC</span></li>
                                            <li><p>Estimated Reward For Current Block</p><span>0.00178680 BTC</span>
                                            </li>
                                            <li><p>Estimated Payout Period</p><span>2 Days 6 Hours</span></li>
                                            <li><p>Estimated Daily Reward</p><span>0.01129201 BTC</span></li>
                                        </ul>
                                    </nav>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="process">
            <div class="process-wrap">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="process-box">
                                <div class="top-title"><h4>Atlas</h4></div>
                                <div class="bottom-wrap">
                                    <div class="process-content"><h5>The largest bitcoin exchangesfor dollar-
                                        denominated transaction</h5>
                                        <p>Transaction volume (past 30 days)</p></div>
                                    <div class="process-img"><img src="assets/img/process-img1.png" alt="process img"/>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="process-box">
                                <div class="top-title"><h4>Power Consumption</h4></div>
                                <div class="bottom-wrap">
                                    <div class="process-content"><h5>Global Bitcoin Mining Energy Consumption</h5></div>
                                    <div class="process-img"><img src="assets/img/process-img2.png" alt="process img"/>
                                    </div>
                                    <div class="bottom-note"><p>Note: Energy consumption estimated based on global
                                        mining hash rate
                                        multiplied by average joule/gigahash/s energy usage, which we assume
                                        declines linearly from 1.5 in 2019 to 0.2 in 2020</p></div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="process-box">
                                <div class="top-title"><h4>Price - Power - Difficulty</h4></div>
                                <div class="bottom-wrap">
                                    <div class="process-img mr-5"><img src="assets/img/process-img3.png"
                                                                       alt="process img"/></div>
                                    <div class="process-price"><p>Price USD/Bitcoin (Log Scale)</p></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="table-block">
                <div class="top-title"><h4>Block Explorer</h4></div>
                <div class="bottom-wrap">
                    <div class="table-option">
                        <form action="#" class="table-search">
                            <div class="search-block input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button"><i
                                            class="fas fa-search"></i></button>
                                </div>
                                <input type="text" class="form-control"
                                       placeholder="Search for things like address, transaction, block">
                            </div>
                            <select class="form-control select-block">
                                <option>All Blocks</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <button type="submit" class="btn">Search</button>

                        </form>

                        <a href="#" class="btn">View more blocks</a>
                    </div>
                    <h4 class="latest-block">Latest blocks</h4>
                    <table class="table table-responsive-lg">
                        <thead>
                        <tr>
                            <th>Heaight</th>
                            <th>Hash</th>
                            <th>Mined</th>
                            <th>Miner</th>
                            <th>Size</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>618228</td>
                            <td>0..ab460a060f4aab51c37382670a804c66dc2adac1aa414</td>
                            <td>8 minutes</td>
                            <td>Poolin</td>
                            <td>1,266,835 bytes</td>
                        </tr>
                        <tr>
                            <td>618228</td>
                            <td>0..ab460a060f4aab51c37382670a804c66dc2adac1aa414</td>
                            <td>8 minutes</td>
                            <td>Poolin</td>
                            <td>1,266,835 bytes</td>
                        </tr>
                        </tbody>
                    </table>


                </div>


            </div>
        </div>
    </div>
{% endblock %}