{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    <div class="site-inner-wrap">
        <div class="action">
            <div class="action-wrap">
                <div class="container-fluid">
                    <div class="action-popup">
                        <div class="action-left">
                            <h3>Welcome, <span>rewards!</span></h3>
                            <p>For change content PATH: <code>templates/admin/pages/rewards.html</code></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}