<header class="header-main">
		   <div class="container-fluid">
            <div class="header-wrap">
			   <nav class="navbar navbar-expand-lg">
                <div class="header-logo">
				    <a href="#"><img src="assets/img/logo.png" alt="header logo" /></a>
				</div>
                <div class="header-menu">

					  <div class="collapse navbar-collapse" id="navname">

					<ul class="menu-date">
				    	<li><p><i class="fas fa-calendar-alt"></i>17 . 09 . 2020</p></li>
				    	<li><p><i class="fas fa-clock"></i>13 : 25 : 59</p></li>
				    </ul>
					<ul class="menu-current">
				    	<li class="current"><a href="#"><i class="fab fa-bitcoin"></i>BTC</a></li>
				    	<li><a href="#">$9651.13 </a></li>
				    	<li><a href="#">€8906.34  </a></li>
				    	<li><a href="#">£7415.51</a></li>
				    	<li><a href="#">¥67375 </a></li>
				    	<li><a href="#">5.068Eh/s</a></li>
				    </ul>
					</div>


				</div>
                <div class="header-user">
				    <nav> <ul class="user-menu">
					    <li><a href="#"><img src="assets/img/search-icon.png" alt="" /></a></li>
					    <li><a href="#"><img src="assets/img/question-icon.png" alt="" /></a></li>
					    <li><a href="#"><img src="assets/img/setting-icon.png" alt="" /></a></li>
					    <li><a href="#"><span class="alert-message"><img src="assets/img/alert-icon.png" alt="" /></span></a></li>
					    <li class="avatar"><a href="#"><img src="assets/img/avatar-img.png" alt="" /></a></li></ul>
					</nav>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navname">
							<span class="navbar-toggler-icon"></span>
						  </button></nav>

            </div>
			</div>
        </header>