<div class="site-left-bar">
 <button class="site-toggler" type="button">
    <span class="site-toggler-icon"></span>
  </button>
<div class="site-left-bar-inner">
    <div class="bitcoin-logo"><img src="assets/img/bitcoin-icon.png" alt="bitcoin menu" />BTC</div>
    <nav>
        <ul class="site-bar-menu">
            <li><a href="{% url 'dashboard' %}"><span class="icon-box"><img src="assets/img/site-icon1.png" alt="sitebar icon" /></span>Dashboard</a></li>
            <li><a href="{% url 'miners' %}"><span class="icon-box"><img src="assets/img/site-icon2.png" alt="sitebar icon" /></span>Miners</a></li>
            <li><a href="{% url 'atlas' %}"><span class="icon-box"><img src="assets/img/site-icon3.png" alt="sitebar icon" /></span>Atlas</a></li>
            <li><a href="{% url 'power' %}"><span class="icon-box"><img src="assets/img/site-icon4.png" alt="sitebar icon" /></span>Power</a></li>
            <li><a href="{% url 'alphamatic' %}"><span class="icon-box"><img src="assets/img/site-icon5.png" alt="sitebar icon" /></span>Alphamatic </a></li>
            <li><a href="{% url 'activity' %}"><span class="icon-box"><img src="assets/img/site-icon6.png" alt="sitebar icon" /></span>Activity</a></li>
            <li><a href="{% url 'rewards' %}"><span class="icon-box"><img src="assets/img/site-icon7.png" alt="sitebar icon" /></span>Rewards</a></li>
            <li><a href="{% url 'payouts' %}"><span class="icon-box"><img src="assets/img/site-icon8.png" alt="sitebar icon" /></span>Payouts</a></li>
            <li><a href="{% url 'reporting' %}"><span class="icon-box"><img src="assets/img/site-icon9.png" alt="sitebar icon" /></span>Reporting</a></li>
        </ul>
    </nav>
</div>
</div>